.button{
    padding: 10px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: white 2px solid;
    font-family: 'Questrial', sans-serif;
}

.button:hover{
    transition: 0.5s;
    color: black;
    background-color: white;
    font-size: 20px;
}
