.new_season_card{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.new_season_name{
    margin-bottom: 0;
}

.new_season_duration{
    margin-top: 0;
    font-style: italic;
    font-size: 18px;
}
